<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나의 블로그</title>
</head>
<body>
<h2>나의 블로그</h2>
<nav>
    <a href="/about_me/">about_me</a>
    <a href="/blog/">blog</a>
</nav>
<h2>{{ post.title }}</h2>
<p>{{ post.created_at }}</p>
<p>{{ post.content }}</p>
<hr />
<p>댓글 추가 위치</p>
</body>
</html>